.album-list {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.album-tile-buttons {
  @apply p-2 border flex-1 flex justify-center hover:opacity-75 shadow-lg;
}

.album-title {
  display: block;
  margin-top: 20px;
  font-size: 0.75rem;
  max-width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
}
